body {
    color: white;
    overflow-x:hidden;
}
.navbar-custom {
    background-color: #563d7c;
    border-color: #080808;
    box-shadow: 0px 0px 5px grey;
}
.gyp-right {
    float: left;
    font-size: 35px;
}
.header-padding {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
}
.icon-flipped {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}
.group-chat {
    width: 80%;
    height: 750px;
    border: #d3d3d3 solid 1px;
    border-radius: 0.5%;
    box-shadow: 10px 10px 5px grey;
    color: rgb(104, 103, 103);
}
#messages-chat{
    width: 100%;
    height: 690px;
}
.message-box {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #ccc;
    transition: border 0.4s;
}
.message-box:focus {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid #0288d2;
    outline: 0;
    box-shadow: 4px 3px 5px grey;
}
.label-message {
    float: left;
    padding-left: 1%;
    font-size: 15px;
    margin-bottom: -30px;
    transition: margin 0.2s;
    color: rgb(168, 167, 167);
}
.label-focus {
    padding-left: 1%;
    font-size: 5px;
    color: #0288d2;
    float: left;
    margin-top: -15px;
    transition: margin 0.2s;
}
#upload-image {
    display: none;
}
#gyp-upload {
    font-size: 30px;
    color: #feca28;
    box-shadow: 3px 3px 5px grey;
}
#lblGyp {
    width: 60px;
    height: 45px;
    border: none;
}
#lblGyp:hover {
    width: 60px;
    height: 45px;
    border: none;
    background-color: white;
}
#user-container {
    top: 22px;
    width: 100%;
    right: 0;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}
#sign-in, #sign-out {
    background-color: transparent;
    border: none;
}
#sign-out {
    margin-top: 27px;
}
#user-container #user-pic {
    background-image: url('/images/profile_placeholder.png');
    background-repeat: no-repeat;
    background-size: 40px;
    border-radius: 20px;
}
.circle {
    color: #563d7c;
    font-size: 18px;
    width: 32px;
    height: 32px;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 2%;
    padding-top: 5px;
}
.sign-out-paragraph {
    width: 100%;
    margin-top: 20px;
}